:root {
    --main-color: #F3E998;
    --main-border: 1px solid black;
}

body {
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(39, 30, 18) 78.9%);

}

h1 {
    font-family: 'Kanit', sans-serif;
}

h1,
h2,
h3 {
    color: var(--main-color);
    margin-top: 25px;
}


.hero {

    text-align: center;


}

.btn-outline-light {
    font-family: 'Kanit',
        sans-serif;
    padding: 15px 30px;
    margin-bottom: 40px;
}